{% extends "feed/base.html" %}

{% block content %}

    <head>
        {% if title %}
            <title>About page of {{title}}</title>
        {% else %}
            <title>About page</title>
        {% endif %}
    </head>
    <body>
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">About page</h2>
                        <p class="text-white-50">
                            More to come!
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
            </div>
        </section>
    </body>
{% endblock content %}