{% extends "feed/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section" style="background-color:Linen ;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Dont have an account? <a href="{% url 'register' %}" class="ml-2" href="#">Sign up</a>
            </small>
            
        </div>
        <small class="text-muted">
            Forgot Password? <a href="{% url 'password_reset' %}" class="ml-2" href="#">Reset</a>
        </small>
    </div>
{% endblock content %}